<div class="account-manager-container">
  <h2 class="title">My account</h2>

  <!-- Lister les données de l'utilisateur provenant du stockage local -->
  <div class="account-data">
    <div class="account-data-header">Account data</div>
    <div class="data-name">
      Name : {{ name }}
    </div>
    <div class="data-surname">
      Surname : {{ surname }}
    </div>
    <div class="data-login">
      Login : {{ login }}
    </div>
  </div>

  <!-- Modifications des données du compte -->
  <div class="update-account">
    <div class="update-account-header">
      Update your account data
    </div>

    <div class="update-login">
      <div class="update-login-title">
        Update login
      </div>
      <form [formGroup]="update_login_form" (ngSubmit)="submitNewLogin()">
        <label for="login">Login : </label>
        <input name="login" type="text" formControlName="login"/>
        <br>
        <label for="login_confirm">Login confirmation : </label>
        <input name="login_confirm" type="text" formControlName="login_confirm"/>
        <br>
        @if (errorMessageLogin != '') {
          <div class="error">{{ errorMessageLogin }}</div>
          <br/>
        }
        <button [disabled]="!update_login_form.valid">Submit new login</button>
      </form>
      @if (successMessageLogin != '') {
        <br>
        <div class="success">{{ successMessageLogin }}</div>
      }
    </div>

    <div class="update-password">
      <div class="update-password-title">
        Update password
      </div>
      <form [formGroup]="update_password_form" (ngSubmit)="submitNewPassword()">
        <label for="password">Password : </label>
        <input name="password" type="password" formControlName="password"/>
        <br>
        <label for="password_confirm">Password confirmation : </label>
        <input name="password_confirm" type="password" formControlName="password_confirm"/>
        <br>
        @if (errorMessagePassword != '') {
          <div class="error">{{ errorMessagePassword }}</div>
          <br/>
        }
        <button [disabled]="!update_password_form.valid">Submit new password</button>
      </form>
      @if (successMessagePassword != '') {
        <br/>
        <div class="success">{{ successMessagePassword }}</div>
      }
    </div>

    <br/>
    <br/>
    <div class="credit-cards-manager">
      <div class="credit-cards-manager-header">
        Credit cards manager
      </div>
      <div class="credit-cards-display">
         <credit-cards-display/>
      </div><br/>
      <button (click)="displayCreditCardForm()">
        @if (displayCreditCardsForm) {
          Collapse credit card form
        }
        @else {
          Add a credit card
        }
      </button><br/>

      <div class="add-credit-card" [ngClass]="displayCreditCardsForm ? '' : 'hide'">
        <div class="add-credit-card-title">Add a credit card</div>
        <form [formGroup]="credit_card_form" (ngSubmit)="submitCreditCard()">
          <label for="number" >Credit card number : </label>
          <input id="number" type="text" formControlName="number"/>
          <br>

          <label for="owner">Card owner : </label>
          <input name="owner" type="text" formControlName="owner"/>
          <br>

          <label for="expiryDate">Date of expiry : </label>
          <input name="expiryDate" type="month" formControlName="expiryDate" placeholder="MM/YYYY"/>
          <br>

          <label for="ccv">CCV : </label>
          <input name="ccv" type="text" formControlName="ccv"/>
          <br>

          <button [type]="'submit'" [disabled]="!credit_card_form.valid">Submit inputs</button>
        </form>

      </div>
    </div>
  </div>
</div>
